.header {
    font-weight: 600;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.header a:hover,
.header a:focus {
    color: #4b4b68;
}

/* media query */

@media (min-width: 600px) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
  }