@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  background-image: url(./img/paper-background.png), linear-gradient(90deg, rgba(104, 69, 32, 0.603), rgba(255, 198, 137, 0.904), rgba(104, 69, 32, 0.827));
  background-color: rgba(104, 69, 32, 0.827);
  background-blend-mode: screen;
  background-size: cover;
  color: rgb(73, 41, 7);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.modules {
  display: flex;
  flex-direction: row;
}

.main {
  padding: 1em;
  margin: 0.5em;
  background: rgba(104, 69, 32, 0.303);
}

a {
  text-decoration: none;

  font-weight: 700;
  color: rgb(104, 69, 4);
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:hover,
a:focus {
  color: #000;
  cursor: pointer;
}

.header {
  font-weight: 600;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.header a:hover,
.header a:focus {
  color: #4b4b68;
}

/* media query */

@media (min-width: 600px) {
  .header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
}